progress {
  display: block;
  float: left;
  width: 460px;
  height: 8px;
  border-radius: 5px;
  appearance: none;
  border: 1px solid #d8d8d8;
  background: #ffffff;
  margin-top: 10px;
  transition: all 1s ease;
  width: 100%;
}
progress::-webkit-progress-bar {
  background:#ffffff;
  border-radius:5px;
  padding:1px;
}
progress::-webkit-progress-value {
  background: #f89406;
  border-radius: 5px;
}
progress[value="100"]::-webkit-progress-value{
  background:#00FF00;
  border-radius:5px;
}
progress:not([value])::-webkit-progress-bar{
  background:#fdd;
}

/* input[type="range"] {
  appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #2f2f2f;
  outline: none;
} */



input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  outline: none;
  border: none;
  font-family: 'Material Icons';
  font-size: 25px;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  font-smoothing: antialiased;
  background-color: transparent;
  color: #666;
  text-align: center;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color .15s ease-in-out;
  &:hover {
    color: #c1c1c1;
  }
}
input[type="checkbox"]:checked + label {
 color: #d21d30;
}

.volume {
  position: relative;
  transition: all .5s ease-in-out;
  &:hover .slider {
    opacity: 1;
    pointer-events: all;
  }
  & .slider {
    opacity: 0;
    pointer-events: none;
    background-color: transparent;
    position: absolute;
    padding: 10px;
    transform: rotate(90deg);
    left: 50%;
    top: 50%;
    transform-origin: 0% 50%;
  }
}