@import "https://fonts.googleapis.com/css?family=Roboto Mono:ital,wght@0,400;0,700;1,300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap";

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* Default colors */
  --color-white: white;
  --color-black: black;
  --text-color: var(--color-white);
  --background-color: var(--color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  /* Dark color scheme */
  :root {
    --text-color: var(--color-white);
    --background-color: var(--color-black);
  }
}

@media (prefers-color-scheme: light) {
  /* Dark color scheme */
  :root {
    --text-color: var(--color-black);
    --background-color: var(--color-white);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
  box-sizing: border-box;
}
